:root {
  --veryDarkdesaturatedBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);
  --softViolet: hsl(273, 75%, 66%);
  --softBlue: hsl(240, 73%, 65%);
  --veryDarkgrayishBlue: hsl(237, 12%, 33%);
  --darkGrayishBlue: hsl(240, 6%, 50%);
  --lightGrayishBlue: hsl(240, 5%, 91%);
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(180deg, var(--softViolet) 0%, var(--softBlue) 100%) no-repeat;
  background-size: cover;
  color: var(--darkGrayishBlue);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: .75rem;
  line-height: 1.125rem;
  position: relative;
}

.card-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-card {
  background-color: #fff;
  position: relative;
  width: 57.5rem;
  height: 31.8125rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  overflow: visible;
  padding-left: 0;
}

.images-section {
  background-color: #fff;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: -35.3125rem -18.4375rem;
  background-size: 80%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 50%;
}

.box-desktop {
  position: absolute;
  top: 12rem;
  left: -6rem;
  overflow: visible;
  z-index: 2;
}

.online-desktop {
  position: absolute;
  top: 3.75rem;
  left: -4.8125rem;
}

.online-mobile {
  display: none;
}

.faq-section {
  width: 50%;
  position: relative;
}

.accordionMain {
  position: absolute;
  top: 50px;
}

.faq-header {
  color: #1E1F36;
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
  background-image: url("../images/icon-arrow-down.svg") no-repeat;
  color: #4B4C5F;
  transition: 0.4s;
}

.question {
  font-style: normal;
  font-weight: normal;
  font-size: .875rem;
  line-height: .875rem;
}

.panel {
  margin-left: 1.2rem;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.answer {
  font-style: normal;
  font-weight: normal;
  font-size: .75rem;
  line-height: 1.125rem;
  color: #787887;
}

.open {
  max-height: 52px;
}

.attribution {
  color: var(--lightGrayishBlue);
  font-size: .6875rem;
  padding-top: .625rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  .online-desktop {
    max-width: 120%;
  }
}

@media only screen and (max-width: 425px) {
  .card-container {
    padding-top: 6.5625rem;
  }

  .faq-card {
    max-width: 75%;
    background-image: url(../images/bg-pattern-mobile.svg) no-repeat;
    background-position: top;
    flex-direction: column;
    align-items: center;

  }

  .box-desktop {
    display: none;
  }

  .online-desktop {
    display: none;
  }

  .online-mobile {
    display: block;
    margin: 0 auto;
    position: absolute;
    max-width: 80%;
    top: -4.7rem;
    left: .75rem;
  }

  .faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.25rem;
    padding-bottom: 5.25rem;
  }

  .question {
    font-size: .75rem;
    line-height: .8125rem;
    max-width: 14.4375rem;
  }

  .answer {
    font-size: .75rem;
    line-height: .8125rem;
    max-width: 14.4375rem;
  }
}
